
*, *::after, *::before {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
}
body {
 font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  background-image: url(Picture9.jpg);
}
 
a {
  color: #66cc99;
  text-decoration: none;
}
 
.heading::after, .heading::before {
  content: " ";
  display: table;
}
 
.heading::after {
  clear: both;
}
 
.bold {
  color: yellow;
  font-weight: 400;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p1{
	text-align: left;
	font-size: 25px;
  color: white;
  margin-left: 0px;
  float: center;
}
 
.resume-wrapper {
  position: relative;
  text-align: left;
  height: 100%;
}
 
.container {
  min-height: 600px;
}
 
.profile {
  width: 40%;
  float: left;
  color: #9099a0;
}
@media (max-width: 850px) {
  .profile {
    width: 100%;
  }
}
.profile .name-wrapper {
  float: left;
  width: 60%;
  color:white;
  font-size: 20px;
}
.profile h1 {
  font-size: 2.5em;
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  color: #4a4e51;
  text-transform: uppercase;
  line-height: 1em;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .profile h1 {
    padding-top: 2o0px;
  }
}
@media (max-width: 450px) {
  .profile h1 {
    font-size: 1.8em;
    padding-top: 20px;
  }
}
.profile li {
  margin-bottom: 10px;
}
.profile .picture-resume-wrapper {
  width: 40%;
  display: block;
  float: left;
}
@media (max-width: 1200px) {
  .profile .picture-resume-wrapper {
    width: 100%;
  }
}
.profile .picture-resume {
  width: 220px;
  height: 220px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0px;
  display: table;
  position: relative;
  vertical-align: middle;
}
.profile .picture-resume span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.profile .picture-resume img {
  border: 50px;
		width: 250px;
		height: 250px;
}
@media (max-width: 1500px) {
  .profile .picture-resume img {
    width: 150px;
    height: 200px;
  }
}
@media (max-width: 1200px) {
  .profile .picture-resume img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1500px) {
  .profile .picture-resume {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .profile .picture-resume {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 450px) {
  .profile .picture-resume {
    width: 180px;
    height: 180px;
  }
}
.profile .info {
  margin-top: 100px;
  font-weight: 300;
  color:white;
  margin-left: 0px;
}
@media (max-width: 1200px) {
  .profile .info {
    margin-top: 70px;
  }
}
@media (max-width: 450px) {
  .profile .info {
    margin-top: 50px;
  }
}
.profile .list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 40%;
  color: white;
  margin-left: 0%;
  font-size: 25px;
}
.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
  color: white;
  font-size: 25px;
}
.table {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
  color: white;
  font-size: 25px;
}
.profile .info {
  text-align: center;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .profile .school{
    margin-top: 100px;
    margin-bottom: 0px;
  }
}
@media (max-width: 850px) {
  .profile .school {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
.profile svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.profile .st0, .profile .st1 {
  fill: #66cc99;
}
 
.FUTURE {
  background-image: url(Picture3.jpg);
  width: 60%;
  float: left;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}
@media (max-width: 850px) {
  .FUTURE {
    width: 100%;
  }
}
.FUTURE h1.T {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.FUTURE .P {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
  color:white;
}
@media (max-width: 450px) {
  .FUTURE .P {
    width: 100%;
    margin-bottom: 20px;
  }
}
.FUTURE .G {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
  color: white;
}
@media (max-width: 450px) {
  .FUTURE .G {
    width: 100%;
    margin-bottom: 40px;
  }
}

 
.section-padding {
  padding: 60px 60px 40px 40px;
}
@media (max-width: 850px) {
  .section-padding {
    padding: 80px 15% 40px 10%;
  }
}
@media (max-width: 450px) {
  .section-padding {
    padding: 40px 10% 20px 5%;
  }
}
 
.HS {
  width: 50%;
  float: left;
  text-align: left;
  color: white;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 25PX;
}
@media (max-width: 450px) {
  .HS {
    width: 100%;
  }
}
.HS:nth-child(3) {
  padding-right: 8%;
}
.HS h3.title {
  color: #7ab62b;
  text-align: left;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}


